@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.navbar-nav {
  margin-left: 0;
  
  @media (min-width: 992px) {
    margin-left: auto;
  }

  .nav-item {
    margin: 0 0.5rem;
  }

  .nav-link {
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: $transition-base;
      transform: translateX(-50%);
    }

    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }
}
