@use '../abstracts/variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-unit;
  font-weight: bold;
}

.font-weight-extra-bold {
  font-weight: 800;
}

.font-weight-extra-2-bold {
  font-weight: 900;
}
